<div class="container my-5">
  <h1 class="text-center mb-4">Commandes</h1>

  <table class="table table-bordered table-striped bg-white">
    <thead class="bg-light">
      <tr>
        <th>#</th>
        <th>id commande</th>
        <th>Date du commande</th>
        <th>Prix Total</th>
        <th>Commenter</th>
        <th>Livraison</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>10</td>
        <td>10/011/2023</td>
        <td>180DT</td>
        <td>
          <button class="btn btn-outline-primary">
            <i class="fas fa-comment"></i> Commenter
          </button>
        </td>
        <td>
          <button class="btn btn-outline-success">
            <i class="fas fa-truck"></i> Livraison
          </button>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>12</td>
        <td>12/02/2023</td>
        <td>150DT</td>
        <td>
          <button class="btn btn-outline-primary">
            <i class="fas fa-comment"></i> Commenter
          </button>
        </td>
        <td>
          <button class="btn btn-outline-success">
            <i class="fas fa-truck"></i> Livraison
          </button>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>15</td>
        <td>15/03/2023</td>
        <td>200DT</td>
        <td>
          <button class="btn btn-outline-primary">
            <i class="fas fa-comment"></i> Commenter
          </button>
        </td>
        <td>
          <button class="btn btn-outline-success">
            <i class="fas fa-truck"></i> Livraison
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
