<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="assets/logo.png"
        height="50"
        width="100"
        alt="Delivery Service Logo"
        routerLink="/home"
        routerLinkActive="active"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/home"
            routerLinkActive="active"
          >
            Accueil
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/LogIn"
            routerLinkActive="active"
            *ngIf="isLoggedIn && Role == 'ROLE_ADMIN'"
          >
            Compte
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/Livraison"
            routerLinkActive="active"
            *ngIf="isLoggedIn && Role == 'ROLE_ADMIN'"
          >
            Livraison
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/Fournisseur"
            routerLinkActive="active"
            *ngIf="isLoggedIn && Role == 'ROLE_ADMIN'"
          >
            Fournisseur
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/gestionLivreurs"
            routerLinkActive="active"
            *ngIf="isLoggedIn && Role == 'ROLE_ADMIN'"
          >
            Livreur
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/gestionLivraison"
            routerLinkActive="active"
            *ngIf="isLoggedIn && Role == 'ROLE_ADMIN'"
          >
            Bon De Livraison
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/gestionProduit"
            routerLinkActive="active"
            *ngIf="isLoggedIn && Role == 'ROLE_ADMIN'"
          >
            Produit
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/Compte"
            routerLinkActive="active"
            *ngIf="isLoggedIn && Role == 'ROLE_ADMIN'"
          >
            Compte
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/LogIn"
            routerLinkActive="active"
            *ngIf="!isLoggedIn"
            >LogIn</a
          >
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a
            class="nav-link"
            href="#"
            (click)="logoutUser()"
            routerLinkActive="active"
            >Logout</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
