<div class="container">
  <h1 class="text-center">
    <i class="fas fa-file-invoice"></i>Bon De Livraison
  </h1>

  <div class="row">
    <div class="col-md-6">
      <h4>Numéro du Bon De Livraison : <span>12345</span></h4>
      <h4>Date du Bon De Livraison: <span>20/10/2023</span></h4>
      <h4>Client: <span>Ahmed</span></h4>
      <h4>Total: <span>500 DT</span></h4>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Prix unitaire</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Produit 1</td>
        <td>2</td>
        <td>100 DT</td>
        <td>200 DT</td>
      </tr>
      <tr>
        <td>Produit 2</td>
        <td>3</td>
        <td>50 DT</td>
        <td>150 DT</td>
      </tr>
      <tr>
        <td>Produit 3</td>
        <td>1</td>
        <td>150 DT</td>
        <td>150 DT</td>
      </tr>
    </tbody>
  </table>
</div>
