<div class="container my-5">
  <h1 class="text-center mb-4">
    <i class="fas fa-dolly-flatbed"></i>Bon De Livraison
  </h1>

  <div class="row mb-3">
    <div class="col-6">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Rechercher une Bon De Livraison ..."
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i> Rechercher
          </button>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-bordered table-striped bg-white">
    <thead class="bg-light">
      <tr>
        <th>#</th>
        <th>id du Bon De Livraison</th>
        <th>date du Bon De Livraison</th>
        <th>prix totale</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>100</td>
        <td>21/02/2022</td>
        <td>200dt</td>

        <td>
          <button class="btn btn-outline-primary">
            <i class="fas fa-comment"></i> Consulter
          </button>
        </td>
        <td>
          <button class="btn btn-outline-success">
            <i class="fas fa-edit"></i> Modifier
          </button>
        </td>
        <td>
          <button class="btn btn-outline-danger">
            <i class="fas fa-ban"></i> supprimer
          </button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>181</td>
        <td>2/08/2023</td>
        <td>80dt</td>

        <td>
          <button class="btn btn-outline-primary">
            <i class="fas fa-comment"></i> Consulter
          </button>
        </td>
        <td>
          <button class="btn btn-outline-success">
            <i class="fas fa-edit"></i> Modifier
          </button>
        </td>
        <td>
          <button class="btn btn-outline-danger">
            <i class="fas fa-ban"></i> supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
