<div class="container my-5">
  <h1 class="text-center mb-4">
    <i class="fas fa-shopping-cart"></i> Commandes
  </h1>

  <button class="btn btn-primary">
    <i class="fas fa-plus"></i> Ajouter une commande
  </button>

  <table class="table table-bordered table-striped bg-white">
    <thead class="bg-light">
      <tr>
        <th>id commande</th>
        <th>Date du commande</th>
        <th>client</th>
        <th>prix total</th>
        <th>Bon de Livraison</th>
        <th>Etat Livraison</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>10/01/2023</td>
        <td>10</td>
        <td>180DT</td>
        <td>
          <button class="btn btn-outline-primary">
            <i class="fas fa-file-alt"></i> Bon De Livraison
          </button>
        </td>

        <td>
          <button class="btn btn-outline-success">
            <i class="fas fa-truck"></i> Etat Livraison
          </button>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>12/02/2023</td>
        <td>12</td>
        <td>150DT</td>
        <td>
          <button class="btn btn-outline-primary">
            <i class="fas fa-file-alt"></i> Bon De Livraison
          </button>
        </td>

        <td>
          <button class="btn btn-outline-success">
            <i class="fas fa-truck"></i> Etat Livraison
          </button>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>15/03/2023</td>
        <td>15</td>
        <td>200DT</td>
        <td>
          <button class="btn btn-outline-primary">
            <i class="fas fa-file-alt"></i> Bon De Livraison
          </button>
        </td>

        <td>
          <button class="btn btn-outline-success">
            <i class="fas fa-truck"></i> Etat Livraison
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
