<div class="container my-5">
  <h1 class="text-center mb-4"><i class="fas fa-truck"></i> Livreurs</h1>

  <div class="row mb-3">
    <div class="col-6">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Rechercher un livreur..."
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i> Rechercher
          </button>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-bordered table-striped bg-white">
    <thead class="bg-light">
      <tr>
        <th>#</th>
        <th>Référence</th>
        <th>Nom</th>
        <th>Ville(s)</th>
        <th>Motorisé</th>
        <th>Date début</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>1</td>
        <td>slim ahmed</td>
        <td>Tunis</td>
        <td>Voiture</td>
        <td>21/02/2022</td>
        <td>
          <button class="btn btn-outline-primary">
            <i class="fas fa-comment"></i> Consulter
          </button>
        </td>
        <td>
          <button class="btn btn-outline-success">
            <i class="fas fa-edit"></i> Modifier
          </button>
        </td>
        <td>
          <button class="btn btn-outline-danger">
            <i class="fas fa-ban"></i> Bloquer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
